<div class="container mt-4">
  <h3 class="text-center mb-4">Update Expense</h3>
  <form #updateExpenseForm="ngForm" (ngSubmit)="onUpdate()">
    <div class="mb-3">
      <label>Enter Expense ID</label>
      <input type="text" class="form-control" [(ngModel)]="expenseId" name="expenseId" required>
    </div>
    <div class="mb-3">
      <label>New Amount</label>
      <input type="number" class="form-control" [(ngModel)]="newAmount" name="newAmount" required>
    </div>
    <button class="btn btn-primary">Update</button>
  </form>
</div>